
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <title>新規作成</title>
  <link rel="stylesheet" href="style.css" />
</head>
<body>
  <%= form_with(url: chats_create_path , method: :post) do |form| %>
  <p>問題の傾向を選択してください<br>
  </p>
  <%= form.select :question, [["四択問題", "四択問題"], ["記述問題", "記述問題"], ["穴埋め問題", "穴埋め問題"], ["計算問題", "計算問題"]], include_blank: "選択して下さい" %>
  <p>AIに聞く文章を書く欄<br>
  </p>
  <%= form.text_field :query, size: 50%>
  <%= form.submit "検索" %>
<% end %>

<p>AIが作った問題<br>
<div class="input-container">
  <textarea id="copyText" cols="50" rows="5"> <%= @chats %> </textarea>
  <button onclick="copyToClipboard(this)">
    Copy Text
  </button>
</div>
<iframe src="/chat.html" width="80%" height="500px"></iframe>
<%= link_to "PDF出力", chats_index_path, method: :get %>
</body>

</html>

